/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

#error-msg {
  padding-left: 30px; padding-left: 3rem;
}

#new-lead-cancel {
  padding-top: 10px; padding-top: 1rem;
  padding-bottom: 10px; padding-bottom: 1rem;
  padding-left: 20px; padding-left: 2rem;
}

#new-lead-line-break {
  border-top: 1px solid #8c8b8b;
}

#back-to-search {
  padding-top: 10px; padding-top: 1rem;
  padding-bottom: 10px; padding-bottom: 1rem;
  padding-left: 20px; padding-left: 2rem;
}

#search-form {
  padding-top: 10px; padding-top: 1rem;
  padding-right: 20px; padding-right: 2rem;
  font-family: 'Open Sans', sans-serif;
}

#search-form-header {
  font-family: 'Open Sans', sans-serif;
}

#search-leads-header {
  padding-left: 15px; padding-left: 1.5rem;
}

#claim-header {
  padding-left: 15px; padding-left: 1.5rem;
}

#map-canvas {
  height: 100%;
}

#title-style {
  font-family: 'Fugaz One', cursive;
}

#results {
  padding-top: 10px; padding-top: 1rem;
}

#search-results-header {
  font-family: 'Open Sans', sans-serif;
}

#create-leads-header {
  font-family: 'Open Sans', sans-serif;
  color: #f2f3f4;
}

.devise-back {
  padding-left: 230px; padding-left: 23rem;
}

.company-header {
  padding-top: 5px; padding-top: 0.5rem;
  padding-left: 30px; padding-left: 3rem;
}

.sign-up-header {
  padding-top: 5px; padding-top: 0.5rem;

}

.log-in-header {
  padding-top: 5px; padding-top: 0.5rem;

}

.edit-header {
  padding-top: 5px; padding-top: 0.5rem;

}
