#sign-out-btn {
  padding-right: 5px; padding-right: 0.5rem;

}

#edit-info-btn {
  padding-right: 5px; padding-right: 0.5rem;

}

#sign-in-btn {
  padding-right: 5px; padding-right: 0.5rem;

}

#sign-up-btn {
  padding-right: 5px; padding-right: 0.5rem;

}

#create-lead-btn {
  padding-top: 25px; padding-top: 2.5rem;
  padding-left: 80px; padding-left: 8rem;
}

#unauthed-return-home-btn {
  padding-top: 15px; padding-top: 1.5rem;
  padding-left: 170px; padding-left: 17rem;
}
