.landing-bg {
  background-size: cover;
  background-image: url('http://i.imgur.com/7bFIXJu.png');
  background-position: center;
  height:660px;
}

#landing-text {
  padding-top: 220px;
  font-size: 40px;
  font-family: 'Fugaz One', cursive;
}

#landing-subtext1 {
  font-size: 27px;
  font-family: 'Fugaz One', cursive;
  color: #A32115;
}

#landing-subtext1:hover {
  font-size: 27px;
  font-family: 'Fugaz One', cursive;
  text-decoration: underline;
}

#landing-subtext2 {
  font-size: 27px;
  font-family: 'Fugaz One', cursive;
  color: #A32115;
}

#landing-subtext2:hover {
  font-size: 27px;
  font-family: 'Fugaz One', cursive;
  text-decoration: underline;
}

#landing-subtext3 {
  font-size: 27px;
  font-family: 'Fugaz One', cursive;
  color: #A32115;
}

#landing-subtext3:hover {
  font-size: 27px;
  font-family: 'Fugaz One', cursive;
  text-decoration: underline;
}

#enter-site {
  font-size: 27px;
  font-family: 'Fugaz One', cursive;
  color: #A32115;
}

#enter-site:hover {
  font-size: 27px;
  font-family: 'Fugaz One', cursive;
  text-decoration: underline;
}
